
<%= render "shared/navbar_black_logged"%>
<div class="container" style="margin-top: 75px;">
  <%# <div class="card p-2"> %>
    <%# <h2 class="mx-auto">Edit <%= resource_name.to_s.humanize</h2> %>
    <h4 class="text-center py-3 bold-20 header-green">Edite a sua conta</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="signup">
        <%= f.input :email, required: true, label: false, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Primeiro nome",
                    input_html: { autocomplete: "first_name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Último nome",
                    input_html: { autocomplete: "last_name" }%>
        <%= f.input :tax_number,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "CPF",
                    input_html: { autocomplete: "tax_number" }%>
        <%= f.input :phone_number,
                    required: true,
                    autofocus: true,
                    label: false,
                    placeholder: "Número telefone",
                    input_html: { autocomplete: "phone_number" }%>
        <%= f.input :password,
                    # hint: "leave it blank if you don't want to change it",
                    required: false,
                    label: false,
                    input_html: { autocomplete: "new-password", placeholder: "Deixe em branco se não quiser alterar" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "new-password", placeholder: "Deixe em branco se não quiser alterar" } %>
        <%= f.input :current_password,
                    # hint: "we need your current password to confirm your changes",
                    required: true,
                    label: false,
                    input_html: { autocomplete: "current-password", placeholder: "A sua password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-success w-100 my-2 py-2"%>
      </div>
    <% end %>


    <%= link_to "Cancel my account", registration_path(resource_name), class: "header-green", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    <br>
    <%= link_to "Back", :back, class: "header-green" %>
  <%# </div> %>
</div>
