<h1>Land</h1>

<p><%= @land.address %></p>
<p><%= @land.total_area %></p>
<p><%= @land.latitude %></p>
<p><%= @land.longitude %></p>
<p><%= @land.biome %></p>
<p><%= @land.registration_number %></p>

<h1>Offer</h1>

<p><%= @offer.replanted_area %></p>

<h1>Earnings</h1>

<p><%= @earning.year_1 %></p>
<p><%= @earning.year_10 %></p>
<p><%= @earning.year_20 %></p>
<p><%= @earning.year_30 %></p>
